body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    width: 100%;
    margin: 0;
}

h1,
h2,
h3 {
    text-align: center;
    margin: 15px;
    font-family: 'Libre Baskerville',
        serif;
    letter-spacing: -.1rem;
    text-rendering: optimizeLegibility;
}

h3 {
    font-size: 1.5em;
}

h4 {
    background-color: #328480;
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin: 2px auto;
    padding: 10px;
}

header {
    margin: 0;
    background: transparent;
    color: white;
    display: flex;
    justify-content: flex-start;
}


header>h1 {
    margin-left: 0;
}

header>h2 {
    font-style: oblique;
}

header>a {
    background: #838432;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #777931;
    margin: auto;
}

#postsList>p:nth-of-type(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

#topSection {
    background-color: #164a53;
}


.btn-outline-success {
    color: #aeeadf;
    border-color: #aeeadf;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #206c79;
    border-color: #206c79;
}

header>a:hover {
    background-color: #b3b629;
    border: none;
}

#articles {
    background-color: #f2f2f2;
    padding-top: 30px;
}

#article {
    margin: 50px;
}

#addComment {
    color: #757454;
}

#addComment input[type="text"],
textarea {
    background: beige;
    border: none;
    padding: 10px;
}

#postsList {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 5px #CCCACA;
}

#billets {
    margin: 50px auto 0;
}

.material-icons.md-48 {
    font-size: 50px;
    margin: auto;
    color: #164a53;
}

#billets>h3 {
    margin: auto;
    width: 80%;
    display: flex;
    color: #328480;
}

#articles .img-post {
    background-image: url('../img/photo-carousel-1.jpeg');
    background-size: cover;
    height: 150px;
}

#articles .img-post {
    background-image: url('../img/photo-carousel-1.jpeg');
    background-size: cover;
    height: 150px;
}

#article .img-post {
    background-image: url('../img/photo-carousel-1.jpeg');
    background-size: cover;
    height: 250px;
}


#commentPost {
    background-color: beige;
    border-radius: 0 15px 15px 15px;
    padding: 10px 20px;
}

#commentPost>p:first-child {
    font-style: italic;
}

#addComment label {
    margin: unset;
}

#reportedCommentForm {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 2px auto;
    align-items: center;
}

#reportedCommentForm>p,
input {
    margin: 0 0 0 auto;
}

.btn-primary {
    color: #fff;
    background-color: #328480;
    border-color: #337d7a;
    padding: .2em 1em;
    font-size: unset;
}

#reportedCommentForm .btn-primary,
#addComment .btn-primary {
    background-color: #6c6c3f;
    border-color: #5b5b32;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2fa49e;
    border-color: #2e9b96;
}

.btn-secondary {
    color: #fff;
    background-color: #3c6d75;
    border-color: #33636a;
    ;
}

.marketing h2 {
    color: #164a53;
    font-family: "librebaskerville-bold",
        serif;
    margin: 15px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #267380;
    border-color: #206a77;
}

a {
    text-decoration: none;
    color: blue;
    padding: 5px;
    margin-top: 0px;
}

li {
    list-style: none;
}

#commentaires {
    width: 80%;
    margin: 30px auto auto 0;
    color: rgb(17, 58, 59);
}

#commentaires h3 {
    text-align: unset;
}

#retour_commentaires {
    display: flex;
    justify-content: center;
}

#commentaires>h4 {
    padding: 15px;
}

#commentaires>ul {
    padding: 5px;
}

#commentaires>ul>li>p {
    padding: 5px;
    margin: auto;
}

#gtx-trans {
    display: none !important;
}

/* Form */
form {
    width: 80%;
}

form>p {
    margin: 2px auto 10px;
}

input {
    text-decoration: none;
}

#pseudo {
    padding: 5px;
    width: 200px;
    height: 2em;
}

#message {
    font-size: 1.1em;
    padding: 5px;
    border: 1px solid rgb(179, 188, 189);
    border-radius: 2px;
}

/* Pagination */
#paging {
    margin: auto;
    padding: 10px;
    display: flex !important;
    justify-content: center;
}

#paging>a {
    margin: 0;
    padding: 10px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #6f7e95;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.page-link {
    background-color: #dbe5e8;
    border: 1px solid #dee2e6;
}

/* Footer */
.bd-footer {
    font-size: .875rem;
    text-align: center;
    background-color: #919164;
}

.text-muted {
    color: #fffffb !important;
}