{% extends '/backend/layout.twig' %}

{% block content %}
  <div class="container">
    <h3>Le commentaire
      <strong>{{ idComment }}</strong>
      a bien été supprimé.</h3>
    <a class="nav-link" href="index.php?action=commentsList">
      Retour à la liste des commentaires
    </a>
  </div>
{% endblock %}
